body {

}
#wrapper {

    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
}
#Header {
    width:100%;
    font-weight:bolder;
    background-color:#dedede;
    height:110px;
    margin-bottom:5px;
}
#left {
    float:left;
    display:block;
    width:20%;
    background-color:#eeeeee;
    font-weight:bolder;
    text-align:center;


}
#right {
    float:right;
    display:block;
    width:300px;
    max-width:30%;
    font-weight:bolder;
    text-align:left;
}
#right img{
max-width:100%;
height:auto;
}
#KillTables {
float:left;
display:block;
width:50%;
}
table {
    width:97%;
    border-spacing:0px;
    border:solid 1px #000000;
    margin:0 10px 0 10px;
}
th {
    background-color: #000000;
    font-weight: bolder;
    color:#ffffff;
}
td {
    border:1px solid #333333;
    border-collapse:collapse;
}
tr:nth-child(odd) {
    background-color: #cccccc;
}

#ad {
    width:100%;
    min-height:170px;

}


