@media only screen and (max-width:320px) 
{
    #right {
        display: none;
    }
   
    #KillTables table,
    #KillTables thead,
    #KillTables tbody,
    #KillTables th,
    #KillTables tr,
    #KillTables td {
        display: block;
    }

    #KillTables thead tr {
        display:none;
    }
    #KillTables tr {
        margin-bottom:5px;
    }
    #KillTables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		white-space: normal;
		text-align:left;
        text-transform:capitalize;
	}
 
	#KillTables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
        content: attr(title2);
	}
    
    #KillTables tr:nth-child(odd) {
    background-color:#cccccc;
    }
    .submenu {
        display:none;
    }
}
